@charset "utf-8";
body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    background: #F0F3F3;
    letter-spacing:.7px;
    font-family: 'Sawarabi Gothic', sans-serif;
}

ul{
    margin: 0;
}

.errors{
    max-width:800px;
    width: 80%;
    margin: 0 auto;
    background: var(--danger);
    color:#fff;
    padding: 2rem;
    margin-top: 1rem;
}

input{
    border:none;
    border-radius:none;
    background: none;
    font-size:1rem;
}

:root{
    --main:#6FBFBF;
    --submit:#0367A6;
    --point:#82d9d9b9;
    --danger:#C22F2B;
}

h1,h2,h3,h4,h5,p,a{
    margin: 0;
    padding: 0;
}

:visited{
    color:var(--submit);
}

a{
    color:var(--submit);
    text-decoration:none;
}

a:hover{
    filter:brightness(120%);
}

.main{
    max-width:800px;
    width: 80%;
    margin:0 auto;
    padding: 2rem 0;
}

.greet{
    color:#fff;
    padding: 1rem;
    background: #F2C438;
    margin:1rem 0;
}

.empty{
    background: var(--danger);
    width: fit-content;
    padding:.5rem 1rem;
    margin:0 auto;
    color:#fff;
}

.yet{
    font-weight:900;
}

.yet:before{
    content:"new";
    background: var(--danger);
    color:#fff;
    border-radius:2px;
    font-size:.6rem;
    padding:1px 2px;
    margin-right: .5rem;;
}

/* pagination */

.pagination{
    text-align: center;
    padding: 0;
}

.page-item{
    display:inline-block;
    padding:.1rem .7rem;
    border:1px solid #ccc;
    border-radius:3px;
}

.active{
    background: #ccc;
}

/* btn */

.delete{
    background: var(--danger);
    padding:.1rem .5rem;
    color: #fff;
    border-radius:5px;
    border:none;
    cursor:pointer;
    font-size:.8rem;
}

.danger:hover{
    filter:brightness(110%);
}

.schedules-edit-icons{
    display: flex;
    column-gap:.5rem;
    align-items:center;
}

.edit{
    background: #333;
    padding:.1rem .5rem;
    color: #fff;
    border-radius:5px;
    border:none;
    cursor:pointer;
    font-size:.8rem;
}

.add-text{
    padding:.1rem 1rem;
    background: var(--submit);
    border-radius:5px;
    color:#fff;
    width: fit-content;
    margin:0 auto;
}

.add{
    position:fixed;
    bottom: 10%;
    right:3rem;
    font-size:3rem;
    cursor:pointer;
}


.fa-calendar-alt{
    position:fixed;
    bottom:2rem;
    right: 3rem;
    font-size:3rem;
    cursor:pointer;
    background: #fff;
}

.add-icon:visited{
    color:#fff;
}

.fa-check{
    color:var(--main);
    margin-left: 0.5rem;
}

.fa-clock{
    margin-right: .5rem;
}
/* css */

.white{
    color:#fff;
}

.center{
    display:block;
    text-align: center;
    margin-bottom: 1rem;;
}

.flex{
    display:flex;
    column-gap: 1rem;
    align-items:center;
    justify-content: center;
}

/* header */

header{
    display:flex;
    justify-content: space-between;
    padding:2rem 2rem;
    background: var(--main);
}

.header-logo{
    color:#333;
    font-weight:bold;
    font-size:2rem;
    text-decoration:none;
}

.header-logo:hover{
    color:#333;
}

.header-img{
    width:70px;
    height:70px; 
    object-fit:cover; 
    border-radius:50%; 
    border:2px solid rgba(228, 228, 17, 0.826);
}

@media screen and (max-width:540px){
    .logo{
        font-size:1.3em;
    }
}

.nav-list{
    width: fit-content;
    white-space: nowrap;
    list-style: none;
    margin-left: auto;
}

.nav-list-desktop{
    width: fit-content;
    white-space: nowrap;
    list-style: none;
    margin-left: auto;
}

.nav-item{
    color:#fff;
    display:inline-block;
    vertical-align: middle;
}

.nav-item a{
    color:#fff;
    padding: 0 .5rem;
}

.nav-icon{
    display:none;
}

.sarch-wrap{
    padding:.5rem 1rem;
    background: #fff;
    border-radius:20px;
    display: flex;
}

.sarch-container{
    display: flex;
    justify-content: space-between;
    width: auto;
    margin-top: 0.5rem;
}

.group-sarch-wrap{
    padding:.5rem 1rem;
    background: #fff;
    border-radius:20px;
    display: flex;
    width: 300px;
    margin: 2rem auto;
}

.group-sarch{
    display: flex;
    column-gap:5px;
}

.group-sarch-input{
    border:none;
}

.sarch{
    display: flex;
    column-gap:5px;
}

.sarch-input{
    border:none;
}

.sarch-btn{
    border:none;
    background: none;
    color:#888;
    font-size:1rem;
    cursor:pointer;
}


@media screen and (max-width:900px){
    .nav-list{
        flex-direction:column;
        background: #fff;
        padding:1rem;
        border-radius:5px;
        position:absolute;
        z-index:10;
        right: 0;
        box-shadow:2px 2px 5px 1px #777;
        text-align: right;
    }

    .nav-list-desktop{
        display: none;
    }

    nav{
        position:relative;
    }

    .nav-icon{
        display:block;
        width: fit-content;
        margin-left: auto;
        font-size:2rem;
    }

    .nav-item{
        display: block;
        font-size:1.2rem;
        border-bottom:1px solid #777;
        margin-bottom:.5rem;
    }

    .nav-item:last-child{
        border-bottom:none;
    }

    .nav-item a{
        color:#333;
    }

    .sarch-input{
        font-size:.8rem;
    }

    .sarch-wrap{
        background: var(--point);
    }



}
/* welcome */

.welcome{
    margin:2rem auto;
    width: fit-content;
}

.welcome-btn{
    padding: .5em 5rem;
    display:block;
    background: var(--submit);
    border-radius:5px;
    text-align: center;
    color: #fff;
}

.home{
    max-width:400px;
    width: 90%;
    margin:3rem auto;
    background: #fff;
    padding: 10rem 0;
    border-radius:10px;
    box-shadow:2px 2px 10px #999;
}

.mine{
    padding:1rem;
    height: 50vh;
    overflow-y: scroll;
}

.admin{
    padding: 2rem;
    background: #333;
    margin: 2rem auto;
}

#admin-btns{
    display:none;
}

#admin{
    border-radius: 5px;
    background: #333;
    color:#fff;
    font-size:.5rem;
    cursor:pointer;
    width: fit-content;
    padding: .2rem 1rem;
}

.group-wrap{
    padding: 2rem 0;
    background: #fff;
    word-break:break-word;
}

/*board-index*/

.board-title-card{
    display:block;
    background: #fff;
    font-size:1.3rem;
    padding: 1rem 2rem;
    margin:1rem 0;
    box-shadow:2px 2px 10px #999;
}

.board-title{
    display:block;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 80%;
    color:#333;
    border-bottom:1px solid #999;
    margin-bottom: 0.5rem;
}

@media screen and (max-width:540px){
    .board-title-card{
        margin:1rem 1rem;
    }
}

/* form */
.textarea{
    width: 100%;
    border-radius:5px;
    margin: .5rem auto;
    display: block;
}

.form-control{
    border-radius:5px;
    border:.4px solid #666;
    width: 100%;
    height:1.3rem;
    margin:0 auto;
}

.submit-btn{
    background: var(--submit);
    color:#fff;
    width: fit-content;
    padding:2px 5rem;
    border:none;
    margin: 1.5rem auto;
    border-radius:5px;
}

.board-form{
    display:flex;
    flex-direction:column;
    max-width: 400px;
    width: 90%;
    background: #fff;
    padding: 3rem 1rem;
    border-radius:10px;
    margin:1rem auto;
    box-shadow:2px 2px 10px #999;
}

.schedule-form{
    display:flex;
    flex-direction:column;
    max-width: 400px;
    width: 90%;
    background: #fff;
    padding: 3rem 1rem;
    border-radius:10px;
    margin:1rem auto;
    box-shadow:2px 2px 10px #999;
}

.make-title{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 1rem auto;
    width: 70%;
}

.form-group{
    flex-direction: column;
    display: flex;
    margin: 1rem auto;
    width: 70%;
}

.label{
    width: 70%;
    text-align: left;
    font-weight:bold;
}


/* board-index */
.small{
    font-size:.7rem;
    color:#888;
    margin: 1rem 0;
}

.small-content{
    display: flex;
    column-gap:1rem;
}



/* opinion */

.board-content{
    background: #fff;
    padding:4rem 0;
    width: 90%;
    margin: 0 auto;
}

/* 自分の投稿 */
.self-opinion{
    display: flex;
    margin-left: auto;
    width: 90%;
    margin-bottom: 1rem;
}

.self-opinion-profile-img{
    width: 70px;
    height: 70px;
    border-radius:50%;
    object-fit:cover;
    display: block;
    margin:0 auto;
}

.self-opinion-profile{
    width: 25%;
    margin-left: 1rem;
    text-align: center;
}

.self-opinion-content{
    word-break:break-word;
    background: var(--point);
    padding:1rem;
    margin:1rem 0;
    border-radius:5px;
    width: 70%;
    margin-right: auto;
}

/* 自分以外の投稿 */
.opinion{
    display: flex;
    width: 90%;
    margin-bottom: 1rem;
}

.opinion-profile{
    width: 25%;
    display: flex;
    flex-direction:column;
    margin: 0 1rem;
    text-align: center;
}

.opinion-profile-img{
    width: 70px;
    height: 70px;
    border-radius:50%;
    object-fit:cover;
    display: block;
    margin:0 auto;
}

.opinion-content{
    overflow-wrap:break-word;
    background: #fff;
    padding:1rem;
    margin:1rem 0;
    border-radius:5px;
    width: 70%;
    margin-right: auto;
}

/* 投稿された画像 */
.opinion-img{
    width: 50%;
    height: auto;
    object-fit: cover;
    display: block;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#filter{
    background: rgba(51, 51, 51, 0.8);
    width: 100%;
    height: 100%;
    position:fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
}

.board-schedules{
    height: 100%;
    width:30%;
    position:fixed;
    overflow-y:scroll;
    font-size:.8rem;
    left: 0;
    top: 0;
    background:rgba(255, 255, 255);
    z-index: 3;
}

@media screen and (max-width:540px) {
    .board-schedules{
        width: 100%;
    }
    
    .opinion-content{
        font-size:.8rem;
        width: 80%;
    }
    
    .opinion-content-myself{
        font-size:.8rem;
        width:80%;
    }

}

.open{
    display:block;
}

/* schedules */

.schedules-text{
    width:fit-content ;
    color:#333;
    margin: 0;
}

.days{
    width: fit-content;
    padding:.2rem .5rem;
    background: #333;
    color:#fff;
    margin-bottom: .5rem;
}

.schedule-wrap{
    display: flex;
    column-gap:1rem;
    max-width: 600px;
    margin:1rem auto;
    padding: 1rem;
    justify-content: space-between;
    border-bottom:1px solid #666;
}

/* infomation */
.infomation{
    padding: 1rem 3rem;
    background: #fff;
    white-space:nowrap;
    text-overflow: ellipsis;
    margin: 1rem auto;
}

.info-wrap{
    border-bottom:1px solid #666;
    margin-bottom: 1rem;
    overflow-x: scroll;
}

.info-show{
    background: #fff;
    padding: 2rem;
}

.readed{
    margin-top: 2rem;
}

.readed-btn{
    border-radius:5px;
    background: #bbb;
    width:fit-content;
    padding: 0 1rem;
    cursor:pointer;
}

.readed-member{
    background: #fff;
    padding: 2rem;
}

/* group index*/
.group{
    max-width:1000px;
    width: 100%;
    margin:2rem auto;
}

.group-gate{
    display: flex;
    column-gap:2rem;
    align-items: center;
    width: 80%;
    margin:1rem auto;
    border-bottom:2px solid #999;
    padding: 0.5rem;
    word-break:break-word;
}

.group-label{
    width: 80%;
    font-weight:bold;
    word-break:break-word;
    margin:1rem auto;
    border-bottom:1px solid #999;
}

.group-input{
    border-radius:5px;
    border:.4px solid #666;
    width: 30%;
    height:1.3rem;
    margin:0 auto;
}

.group-btn{
    width: 20%;
    background: var(--point);
    border-radius:5px;
    padding:5px 0;
    cursor:pointer;
    color:#fff;
}

.joined-group{
    font-weight:bold;
}

@media screen and (max-width:540px){
    .group-gate{
        flex-direction: column;
        row-gap: 5px;
    }

    .group-label{
        width: 80%;
    }

    .group-input{
        width: 100%;
    }

    .group-btn{
        width: 100%;
    }
}

/* group show */
#group{
    display: flex;
    width:100%;
    margin:0 auto;
    height:auto;
}

#group-contents{
    width: 75%;
}

.side-menu{
    width: 20%;
}

.group-name{
    max-width:800px;
    margin:2rem 0;
    border-bottom:5px solid #ccc;
    word-break: break-word;
    font-size:1.5rem;
}

.group-greet{
    word-break:break-word;
    text-align: center;
    margin: 2rem auto;
    width: 80%;
}

#group h1{
    margin: 1rem;
}

#group h2{
    font-size:1.2rem;
    padding:.5rem;
    background: var(--point);
    color:#fff;
    border-radius:5px;
    margin: .5rem auto 0;
    text-align: center;
    cursor:pointer;
    width: 80%;
}

#group>p{
    text-align: center;
}

.relative{
    position:relative;
    width: 80%;
    padding:2rem;
    background: #999;
    height: auto;
    margin-bottom: 2rem;
}

.group-menu{
    margin:0 auto;
}

.group-menu-list{
    background: #fff;
    border-radius:0 0 5px 5px;
    color:#333;
    padding: 1rem;
    word-break:break-word;
    width: 80%;
    margin: 0 auto;
}

.group-menu-list p{
    border-bottom:1px solid #999;
    padding: 1rem 0;
    margin-bottom: .3rem;
}

.create-menu>ul{
    list-style:none;
    margin: 1rem 0;
    padding: 0;
}

.create-menu>ul>li{
    color:#fff;
    display: block;
    text-align: center;
    cursor: pointer;
}

.switchActive{
    display: block;
}

.downmenu-icon{
    display:none;
}

.group-member{
    display:block;
    width:80%;
    margin: 0 auto;
    border-bottom:1px solid #999;
    padding-bottom:.5rem;
    margin-bottom: 1rem;
    word-break:break-word;
}

.new-discussion{
    padding:2rem 0;
    background: #fff;
    width: 80%;
    margin: 0 auto 3rem;
}

.new-discussion h4{
    border-bottom:3px solid #ccc;
    width: 80%;
    padding:.5rem 0;
    margin: .5rem auto;
    white-space:nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width:900px){
    #group{
        justify-content: center;
        flex-direction:column;
        padding-bottom: 20vh;
    }

    #group-contents{
        width: 100%;
    }

    #side-menu{
        width: 100%;
    }

    .downmenu-icon{
        display:flex;
        width: 20px;
        height: 20px;
        border-radius:50%;
        color: #fff;
        background: #333;
        justify-content: center;
        align-items: center;
    }

    .relative{
        position:relative;
        right: 0;
        left: 0;
        height: auto;
        padding: 2rem 0;
        width: 100%;
        display: block;
    }

    .sideSwitch{
        visibility:visible;
        opacity:1;
        transition:all .5s ease;
    }

    #sidemenu>h1{
        font-size:1rem;
    }

    .group-name{
        max-width: 80%; 
    }

    #sidemenu-desktop{
        display:none;
    }
}

/* profile */
.profile-top-image{
    border-radius:50%;
    width: 250px;
    height: 250px;
    object-fit:cover;
    display: block;
    margin:1rem auto;
}


.profile-wrap{
    max-width:800px;
    border-right:1px solid #999;
    border-left:1px solid #999;
    margin:0 auto; 
}
.profile-header{
    position:relative;
    max-width:800px;
    margin:0 auto;
}

.profile-show-image{
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius:50%;
    position:absolute; 
    left: 1rem;
    bottom:-30%;
    border:5px solid #F0F3F3;
}

.profile-header-img{
    object-fit:cover;
    width: 100%;
    height: 50vh;
}

.profile{
    color: #333;
    max-width: 800px;
    margin:0 auto;
    padding-top: 5rem;
    position:relative;
}

.profile-contents{
    padding: 1rem 1.5rem;
}

.profile-name{
    font-size:2rem;
}    

.profile-content{
    margin: 2rem 0;
}

.profile-edit{
    width: fit-content;
    padding:0 .5rem;
    background: #333;
    border-radius:5px;
    position:absolute;
    right: 3rem;
    top: 2rem;
}

.tabs-menu li{
    list-style:none;
    display: block;
    width: 33%;
    padding:.5rem;
    margin-bottom: -1px;
    border: solid;
    border-width : 1px 1px 0 1px;
    border-color:#ddd;
    border-radius:5px 5px 0 0 ;
    cursor:pointer;
    text-align: center;
    float:left;
}

.tabs-menu li:not(.profileActive):hover{
    background:#ccc;
    border-bottom:1px solid #555;
}

.tabs-menu .profileActive{
    border:1px solid ;
    border-color:#555 #555 transparent #555;
    background: #ccc;
}

.tab-contents{
    clear:both;
    width: 100%;
    height: 50vh;
    margin-top: 0;
    border-top:1px solid #555;
}

@media screen and (max-width:540px){
    .profile-header-img{
        height: 30vh;
    }
}

/*admin*/
.admin-space{
    background: #fff;
    border-radius:5px;
    padding:2rem;
    margin-bottom: 1rem;
}

.admin-board-sarch{
    display: flex;
    align-items: center;
}
