@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700;900&display=swap");
/*__________________________________________________________
    base
__________________________________________________________*/
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

a {
  color: #454545;
  text-decoration: none;
}

a:hover {
  color: #454545;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

body {
  font-size: 1.6rem;
  font-family: "Noto Sans JP", sans-serif;
  color: #454545;
  background-image: repeating-linear-gradient(-45deg, #fff 0, #fff 10px, #f1fffb 0, #f1fffb 20px);
}

.errors {
  width: 80%;
  margin: 0 auto;
  border-radius: 10px;
  color: #fff;
  background: #C22F2B;
  text-align: center;
  padding: 3rem 4rem;
  margin-top: 2rem;
  box-shadow: 2px 2px 10px #999;
}

.form-group .label {
  width: 25%;
}
.form-group .form-control {
  width: 80%;
  border: none;
  background: rgba(130, 217, 217, 0.7254901961);
  padding: 0.5rem 1rem;
  border-radius: 5px;
}
.form-group .textarea {
  width: 80%;
  border: none;
  background: rgba(130, 217, 217, 0.7254901961);
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.greet {
  width: 100%;
  padding: 2rem;
  background: rgba(130, 217, 217, 0.7254901961);
  border-radius: 15px;
  margin-top: 2rem;
  box-shadow: 2px 2px 10px #ccc;
}

.small {
  font-size: 1.2rem;
}

.title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: block;
  font-size: 4rem;
  font-weight: 900;
  padding: 0 2rem;
  border-bottom: 1rem solid rgba(130, 217, 217, 0.7254901961);
  -o-border-image: linear-gradient(-45deg, rgb(164, 255, 142), rgba(130, 217, 217, 0.7254901961));
     border-image: linear-gradient(-45deg, rgb(164, 255, 142), rgba(130, 217, 217, 0.7254901961));
  border-image-slice: 1;
}

.sub-title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: block;
  font-size: 2rem;
  font-weight: 900;
  padding: 0 2rem;
  margin: 1rem;
  border-bottom: 0.5rem solid rgba(130, 217, 217, 0.7254901961);
  -o-border-image: linear-gradient(-45deg, rgb(164, 255, 142), rgba(130, 217, 217, 0.7254901961));
     border-image: linear-gradient(-45deg, rgb(164, 255, 142), rgba(130, 217, 217, 0.7254901961));
  border-image-slice: 1;
}

.center {
  display: block;
  text-align: center;
  margin: 0 auto;
}

.contents-width {
  width: 90%;
  margin: 0 auto;
}

input[type=submit] {
  -webkit-appearance: none;
  border-radius: 0;
}

.submit-btn input {
  width: 100%;
  background: #0367A6;
  border-radius: 5px;
  padding: 0.5rem;
  border: none;
  box-shadow: 2px 2px 0 #999;
  margin-bottom: 1rem;
  color: #fff;
  cursor: pointer;
}
.submit-btn input:hover {
  box-shadow: none;
}

.filter {
  background: #000;
  opacity: 0.4;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

/*__________________________________________________________
    welcome(login,register)
__________________________________________________________*/
.user-form {
  width: 40vw;
  margin: 0 auto;
  padding: 3rem;
  background: #f5f5f5;
  border-radius: 7px;
}
.user-form h2 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
.user-form p {
  margin: 1rem;
}
.user-form .form-group {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  margin-bottom: 2rem;
}
.user-form .form-group input {
  width: 80%;
  font-size: 1.6rem;
}

@media screen and (max-width: 767px) {
  .user-form {
    width: 90vw;
    margin: 0 auto;
    padding: 3rem;
    background: #f5f5f5;
    border-radius: 7px;
  }
  .user-form h2 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 2rem;
  }
  .user-form .form-group {
    display: flex;
    justify-content: space-between;
    -moz-column-gap: 1rem;
         column-gap: 1rem;
    margin-bottom: 2rem;
  }
  .user-form .form-group input {
    width: 80%;
  }
  .user-form .submit-btn input {
    width: 100%;
    background: #0367A6;
    border-radius: 5px;
    padding: 0.5rem;
    border: none;
    box-shadow: 2px 2px 0 #999;
    margin-bottom: 1rem;
    color: #fff;
  }
  .user-form .submit-btn input:hover {
    box-shadow: none;
  }
}
/*__________________________________________________________
    user show
__________________________________________________________*/
.profile-container .profile-header {
  position: relative;
  width: 100%;
  height: 70vh;
}
.profile-container .profile-header .profile-header-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-bottom: 1px solid #999;
}
.profile-container .profile-header .profile-show-image {
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
  border: 0.2em solid rgba(194, 67, 230, 0.5);
  position: absolute;
  left: 4rem;
  bottom: -25%;
  z-index: 3;
  -o-object-fit: cover;
     object-fit: cover;
}
.profile-container .profile-contents-width {
  width: 85%;
  margin: 0 auto 5rem;
  background: #f5f5f5;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.profile-container .profile-contents-width .profile {
  padding-top: 13rem;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}
.profile-container .profile-contents-width .profile .profile-contents {
  position: relative;
  padding: 3rem 3rem 5rem;
}
.profile-container .profile-contents-width .profile .profile-contents .profile-name {
  font-size: 5rem;
  font-weight: 900;
  margin-bottom: 3rem;
  position: absolute;
  line-height: 0;
  left: 3rem;
  top: 0;
}
.profile-container .profile-contents-width .profile .profile-contents .profile-content {
  padding-top: 5rem;
  width: 70%;
  word-break: break-word;
}
.profile-container .profile-contents-width .profile .profile-edit {
  position: absolute;
  top: 0;
  right: 2rem;
  font-size: 2rem;
}
.profile-container .profile-contents-width .profile .tabs-menu {
  display: flex;
  -moz-column-gap: 2px;
       column-gap: 2px;
  margin-left: -1px;
  border-bottom: 1px solid #ccc;
}
.profile-container .profile-contents-width .profile .tabs-menu li {
  padding: 2rem;
  border: 0.1em solid rgba(130, 217, 217, 0.7254901961);
  background: #fff;
  width: 20%;
  cursor: pointer;
}
.profile-container .profile-contents-width .profile .tabs-menu li:not(.profileActive):hover {
  background: #ccc;
}
.profile-container .profile-contents-width .profile .tabs-menu li.profileActive {
  background: rgba(130, 217, 217, 0.7254901961);
  color: #fff;
}
.profile-container .tab-contents {
  padding: 2rem;
}
.profile-container .tab-contents .board-title-card {
  width: 80%;
  margin: 0 auto;
  background: rgba(130, 217, 217, 0.7254901961);
  margin-bottom: 1rem;
  box-shadow: 2px 2px 10px #ccc;
  padding: 0.5rem 2rem;
}
.profile-container .tab-contents .board-title-card .small-contents {
  display: flex;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
.profile-container .tab-contents .board-title-card .board-title {
  font-size: 2rem;
}
.profile-container .tab-contents .small {
  color: #777;
}
.profile-container .tab-contents .tab-content-group {
  width: 70%;
  margin: 0 auto;
  padding-bottom: 5rem;
}
.profile-container .tab-contents .tab-content-group .group-label {
  padding: 1rem;
  width: 100%;
  border-bottom: 1px solid #ccc;
}
.profile-container .tab-contents .tab-content-group .group-label a {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.profile-container .tab-contents .tab-content-group .group-label:hover {
  background: #ccc;
}
.profile-container .tab-contents .tab-content-group .group-gate-yet {
  margin: 2rem auto;
  padding: 1rem 0;
  border-bottom: 1px solid #ccc;
  display: flex;
  -moz-column-gap: 10%;
       column-gap: 10%;
  position: relative;
}
.profile-container .tab-contents .tab-content-group .group-gate-yet .group-label-yet {
  width: 50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.profile-container .tab-contents .tab-content-group .group-gate-yet .group-affiliation-form {
  width: 40%;
  display: flex;
  -moz-column-gap: 5%;
       column-gap: 5%;
}
.profile-container .tab-contents .tab-content-group .group-gate-yet .group-affiliation-form .group-input {
  background: rgba(130, 217, 217, 0.7254901961);
  width: 70%;
  border: none;
  border-radius: 5px;
  display: block;
  padding: 0.5rem 1rem;
}
.profile-container .tab-contents .tab-content-group .group-gate-yet .group-affiliation-form .group-btn {
  width: 25%;
  background: #0367A6;
  display: block;
  text-align: center;
  padding: 0.5rem 0;
  border: none;
  border-radius: 5px;
  color: #fff;
}

/*__________________________________________________________
    header
__________________________________________________________*/
.sarch-container {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-top: 1rem;
  background: #f5f5f5;
  border-radius: 10px;
  padding: 5px;
}
.sarch-container button {
  background: transparent;
  border: none;
  margin: 0 1rem;
  color: rgba(130, 217, 217, 0.7254901961);
  font-size: 2rem;
}
.sarch-container input {
  background: transparent;
  border: none;
  width: 20rem;
}

.header {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 2rem 3rem;
  background: linear-gradient(-45deg, rgb(106, 195, 220), rgba(130, 217, 217, 0.7254901961));
}
.header nav .nav-icon {
  display: none;
}
.header nav .nav-list {
  display: none;
}
.header .logo {
  width: 17%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 3rem;
}
.header .logo .header-logo img {
  width: 100%;
  display: block;
}
.header .nav-list-desktop ul {
  display: flex;
  justify-self: flex-start;
  align-items: center;
  -moz-column-gap: 2.2rem;
       column-gap: 2.2rem;
}
.header .nav-list-desktop ul li {
  position: relative;
}
.header .nav-list-desktop ul li a {
  color: #777;
}
.header .nav-list-desktop ul li .header-img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}
.header .nav-list-desktop ul li:hover {
  filter: brightness(125%);
}
.header .nav-list-desktop ul .nav-item::before {
  content: "";
  width: 0;
  height: 1.5px;
  position: absolute;
  bottom: -2px;
  opacity: 0.8;
  left: 0;
  background: linear-gradient(to right, rgb(194, 67, 230), rgb(19, 88, 236));
}
.header .nav-list-desktop ul .nav-item:hover::before {
  width: 100%;
  transition: width 1.25s ease;
}

@media screen and (max-width: 767px) {
  .header {
    z-index: 5;
  }
  .header nav .nav-icon {
    display: block;
    font-size: 2rem;
  }
  .header .nav-list {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .header .nav-list .nav-item {
    margin-bottom: 2rem;
    color: #999;
  }
  .header .nav-list .nav-item a {
    color: #fff;
  }
  .header .nav-list .header-img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
  }
  .header .nav-list .sarch-container {
    margin-right: auto;
  }
  .header .logo {
    width: 40%;
  }
  .header .logo img {
    width: 100%;
  }
  .header .nav-list-desktop {
    display: none;
  }
}
/*__________________________________________________________
    home
__________________________________________________________*/
.home {
  padding: 4rem 0;
}
.home .contents-width {
  max-width: 1200px;
  width: 70vw;
  margin: 0 auto;
}
.home .contents-width .title {
  margin-top: 5rem;
}
.home .contents-width .profile-top-image {
  display: block;
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  border-width: 2px;
  border-style: solid;
  border-color: rgba(194, 67, 230, 0.5);
  margin: 4rem auto 1rem;
  box-shadow: 2px 2px 10px #ccc;
  -o-object-fit: cover;
     object-fit: cover;
}
.home .contents-width .home-contents {
  width: 90%;
  padding: 3rem;
  background: #f5f5f5;
  margin: 2rem auto;
}
.home .contents-width .home-contents .home-content {
  padding: 1rem;
  border-bottom: 1px solid #999;
}
.home .contents-width .home-contents .home-content a {
  font-size: 2rem;
  display: block;
}

@media screen and (max-width: 767px) {
  .home .contents-width {
    width: 90vw;
  }
  .home .contents-width .profile-top-image {
    display: block;
    width: 50vw;
    height: 50vw;
  }
  .home .contents-width .title {
    font-size: 2.5rem;
    margin: 2rem auto;
  }
  .home .contents-width .home-contents {
    width: 100%;
    padding: 3rem;
    background: #f5f5f5;
    margin: 0 auto;
    font-size: 2rem;
  }
}
/*__________________________________________________________
    board-index
__________________________________________________________*/
.board {
  padding: 3rem 0;
  position: relative;
}
.board .small-discription {
  padding: 2rem;
}
.board .board-title-card {
  width: 90%;
  margin-top: 2.5rem;
  background: #f5f5f5;
  padding: 3rem;
  border-radius: 10px;
}
.board .board-title-card .small-content {
  display: flex;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
}
.board .board-title-card .board-title {
  font-size: 2rem;
}
.board .add {
  font-size: 5rem;
  color: #0367A6;
  position: fixed;
  right: 5rem;
  bottom: 5rem;
  filter: drop-shadow(2px 2px 2px #aaa);
}

/*__________________________________________________________
    board-show
__________________________________________________________*/
#schedules-icon {
  font-size: 4rem;
  color: #6FBFBF;
  position: fixed;
  bottom: 5rem;
  right: 5rem;
  cursor: pointer;
}

.board-show {
  max-width: 800px;
  width: 100%;
  margin: 2rem auto;
}
.board-show .show-title {
  font-weight: 900;
}
.board-show .show-contents {
  padding: 3rem;
  background: #f5f5f5;
  margin: 2rem auto;
}
.board-show .show-contents .board-content {
  width: 70%;
  margin: 0 auto;
}
.board-show .opinion-form .textarea {
  width: 100%;
  height: 30vh;
  margin-top: 1rem;
}
.board-show .opinion-form .form-group {
  margin: 2rem 0;
}
.board-show .self-opinion {
  display: flex;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
  justify-content: flex-end;
}
.board-show .self-opinion .self-opinion-content {
  background: rgba(130, 217, 217, 0.7254901961);
  max-width: 60%;
  min-width: 40%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.6rem;
  border-radius: 7px;
  padding: 3rem;
  margin-bottom: 1rem;
}
.board-show .self-opinion .self-opinion-content a .opinion-img {
  width: 80%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.board-show .self-opinion .self-opinion-profile {
  display: flex;
  flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.board-show .self-opinion .self-opinion-profile a .self-opinion-profile-img {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.board-show .self-opinion .self-opinion-profile p {
  margin: 0 auto;
  font-weight: bold;
}
.board-show .opinion {
  display: flex;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
}
.board-show .opinion .opinion-content {
  background: #f5f5f5;
  max-width: 60%;
  min-width: 40%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.6rem;
  border-radius: 7px;
  padding: 3rem;
  margin-bottom: 1rem;
}
.board-show .opinion .opinion-content a .opinion-img {
  width: 80%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.board-show .opinion .opinion-profile {
  display: flex;
  flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.board-show .opinion .opinion-profile a .opinion-profile-img {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.board-show .opinion .opinion-profile p {
  margin: 0 auto;
  font-weight: bold;
}

.board-form {
  margin-top: 3rem;
}

@media screen and (max-width: 767px) {
  .board-show .opinion-form .textarea {
    width: 100%;
    height: 10vh;
  }
  .board-show .opinion-form .submit-btn {
    margin-bottom: 2rem;
  }
  .board-show .self-opinion .self-opinion-content {
    font-size: 1rem;
    width: 100%;
  }
  .board-show .self-opinion .self-opinion-profile {
    display: flex;
    flex-direction: column;
    width: 60px;
  }
  .board-show .self-opinion .self-opinion-profile a .self-opinion-profile-img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .board-show .opinion .opinion-content {
    font-size: 1rem;
    width: 100%;
  }
  .board-show .opinion .opinion-profile a .opinion-profile-img {
    width: 3rem;
    height: 3rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.schedules {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #333;
  color: #fff;
  z-index: 3;
  -webkit-animation: schedules 2s ease forwards;
          animation: schedules 2s ease forwards;
  overflow: hidden;
  white-space: nowrap;
}
.schedules .schedules-wrap {
  display: flex;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 80%;
  margin: 2rem auto;
}
.schedules .schedules-wrap .schedule {
  width: 80%;
}
.schedules .schedules-wrap .schedule p {
  word-break: break-word;
}
.schedules .schedules-wrap .schedules-edit-icons form .delete {
  background: #C22F2B;
  width: 10rem;
  height: 3rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
}
.schedules .schedules-wrap .schedules-edit-icons form .edit {
  background: yellowgreen;
  width: 10rem;
  height: 3rem;
  border: none;
  border-radius: 5px;
  margin-top: 0.5rem;
  cursor: pointer;
  color: #fff;
}
.schedules .schedules-add a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem 2rem;
  background: #0367A6;
  border-radius: 5px;
  color: #fff;
  display: block;
  margin: 1rem auto;
}

@-webkit-keyframes schedules {
  from {
    width: 0;
  }
  to {
    width: 40vw;
  }
}

@keyframes schedules {
  from {
    width: 0;
  }
  to {
    width: 40vw;
  }
}
@media screen and (max-width: 767px) {
  @-webkit-keyframes schedules {
    from {
      width: 0;
    }
    to {
      width: 70vw;
    }
  }
  @keyframes schedules {
    from {
      width: 0;
    }
    to {
      width: 70vw;
    }
  }
}
/*__________________________________________________________
    office index(group)
__________________________________________________________*/
.group-index {
  padding: 3rem 0;
}
.group-index .group-sarch-wrap {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  margin-top: 1rem;
  background: rgba(130, 217, 217, 0.7254901961);
  border-radius: 10px;
  padding: 5px;
}
.group-index .group-sarch-wrap button {
  background: transparent;
  border: none;
  margin: 0 1rem;
  color: #fff;
  font-size: 2rem;
}
.group-index .group-sarch-wrap input {
  background: transparent;
  border: none;
  width: 20rem;
  height: 3rem;
}
.group-index .group-gate {
  max-width: 600px;
  width: 50vw;
  margin: 2rem auto;
  padding: 1rem 0;
  border-bottom: 2px solid rgba(130, 217, 217, 0.7254901961);
  display: flex;
  position: relative;
}
.group-index .group-gate .joined-group {
  width: 70%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.group-index .group-gate:before {
  content: "所属済み";
  color: #999;
  padding: 0.3rem;
  background: #f5f5f5;
  border-radius: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 2rem;
  font-size: 1rem;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}
.group-index .group-gate-yet {
  max-width: 600px;
  width: 50vw;
  margin: 2rem auto;
  padding: 1rem 0;
  border-bottom: 2px solid rgba(130, 217, 217, 0.7254901961);
  display: flex;
  -moz-column-gap: 10%;
       column-gap: 10%;
  position: relative;
}
.group-index .group-gate-yet .group-label {
  width: 50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.group-index .group-gate-yet .group-affiliation-form {
  width: 40%;
  display: flex;
  -moz-column-gap: 5%;
       column-gap: 5%;
}
.group-index .group-gate-yet .group-affiliation-form .group-input {
  background: rgba(130, 217, 217, 0.7254901961);
  width: 70%;
  border: none;
  border-radius: 5px;
  display: block;
  padding: 0.5rem 1rem;
}
.group-index .group-gate-yet .group-affiliation-form .group-btn {
  width: 25%;
  background: #0367A6;
  display: block;
  text-align: center;
  padding: 0.5rem 0;
  border: none;
  border-radius: 5px;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .group-index .group-gate {
    max-width: 600px;
    width: 80vw;
    margin: 2rem auto;
    padding: 1rem 0;
    border-bottom: 2px solid rgba(130, 217, 217, 0.7254901961);
    display: flex;
    position: relative;
  }
  .group-index .group-gate .joined-group {
    width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .group-index .group-gate:before {
    content: "所属済み";
    color: #999;
    padding: 0.3rem;
    background: #f5f5f5;
    border-radius: 5px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 2rem;
    font-size: 1rem;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
  }
  .group-index .group-gate-yet {
    width: 80vw;
  }
  .group-index .group-gate-yet .group-label {
    width: 30%;
  }
  .group-index .group-gate-yet .group-affiliation-form {
    width: 65%;
  }
  .group-index .group-gate-yet .group-affiliation-form .group-input {
    width: 70%;
  }
  .group-index .group-gate-yet .group-affiliation-form .group-btn {
    width: 25%;
  }
}
/*__________________________________________________________
    office show(group show)
__________________________________________________________*/
.group-show {
  padding: 3rem 0 5rem;
}
.group-show .group-name-wrap {
  display: flex;
  width: 90%;
  padding: 0;
}
.group-show .group-name-wrap h2 {
  padding: 0;
}
.group-show .group-name-wrap .downmenu-icon {
  display: none;
}
.group-show #group .group-menu-tabs {
  display: flex;
  -moz-column-gap: 2px;
       column-gap: 2px;
  margin-top: 3rem;
}
.group-show #group .group-menu-tabs h3 {
  padding: 1rem;
  background: rgba(130, 217, 217, 0.7254901961);
  color: #fff;
  width: 16%;
  cursor: pointer;
  text-align: center;
}
.group-show #group .group-menu-tabs h3 .table-link {
  color: #fff;
}
.group-show #group ul {
  display: flex;
  -moz-column-gap: 2px;
       column-gap: 2px;
}
.group-show #group ul li {
  background: #999;
  padding: 1rem;
  width: 16%;
  cursor: pointer;
  text-align: center;
}
.group-show #group ul li .delete {
  background: none;
  color: red;
  font-weight: bold;
  border: none;
  cursor: pointer;
}
.group-show #group #group-contents .center {
  margin: 2rem auto;
}
.group-show #group #group-contents .new-discussion {
  padding: 1rem;
  background: #f5f5f5;
  border-radius: 7px;
  width: 60%;
  margin: 0 auto;
}
.group-show #group #group-contents .new-discussion h4 a {
  border-bottom: 1px solid #999;
  display: block;
  margin: 2rem 0;
}
.group-show #group .group-menu .group-menu-list {
  width: 60%;
  height: 80%;
  overflow-y: scroll;
  margin: 0 auto;
  background: #f5f5f5;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
.group-show #group .group-menu .group-menu-list .member {
  display: flex;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #999;
  margin-bottom: 1rem;
}
.group-show #group .group-menu .group-menu-list .member a {
  display: block;
  text-decoration: underline;
}
.group-show #group .group-content {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #999;
  display: block;
}
.group-show #group .edit-wrap {
  display: flex;
  justify-content: space-between;
}
.group-show #group .edit-wrap .form-group {
  width: 80%;
}
.group-show #group .edit-wrap .form-group .label {
  width: 40%;
}
.group-show #group .edit-wrap .form-group .form-group {
  width: 60%;
}
.group-show #group .edit-wrap .submit-btn {
  width: 10%;
}

@media screen and (max-width: 767px) {
  .group-show {
    padding: 3rem 0 5rem;
  }
  .group-show .group-name-wrap {
    display: flex;
    width: 90%;
    padding: 0;
  }
  .group-show .group-name-wrap h2 {
    padding: 0;
    font-size: 2.6rem;
  }
  .group-show .group-name-wrap .downmenu-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
    font-size: 2rem;
  }
  .group-show #group {
    height: 100%;
  }
  .group-show #group #sidemenu-desktop {
    display: none;
  }
  .group-show #group .group-menu-tabs {
    flex-direction: column;
    row-gap: 2px;
  }
  .group-show #group .group-menu-tabs h3 {
    width: 100%;
  }
  .group-show #group ul {
    flex-direction: column;
    row-gap: 2px;
  }
  .group-show #group ul li {
    width: 100%;
  }
  .group-show #group #group-contents .new-discussion {
    width: 100%;
  }
  .group-show #group .group-menu .group-menu-list {
    width: 100%;
    height: 80%;
  }
  .group-show #group .group-menu .group-menu-list .member a {
    font-size: 1rem;
  }
}
/*__________________________________________________________
    table index
__________________________________________________________*/
.tables-main {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
  padding: 5rem 0;
}
.tables-main .table-container {
  width: 100%;
  overflow-x: scroll;
}
.tables-main .table-container table th {
  width: 50%;
  word-break: break-word;
}
.tables-main .table-container table td {
  width: 50%;
  word-break: break-word;
}
.tables-main .table-container table td .delete {
  background: none;
  font-size: 2rem;
  border: none;
  color: #C22F2B;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}
.tables-main .table-container table td .table-edit-btn {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: none;
  font-size: 2rem;
  border: none;
  color: #6FBFBF;
  cursor: pointer;
  margin: 0 auto;
}
.tables-main .table-container table, .tables-main .table-container tr, .tables-main .table-container th, .tables-main .table-container td {
  border-collapse: collapse;
  border: 2px solid #999;
  margin: 0 auto;
}
.tables-main .table-container th {
  font-weight: bold;
  font-size: 2rem;
}
.tables-main .table-container th, .tables-main .table-container td {
  padding: 1rem 4rem;
}
.tables-main .table-container th a, .tables-main .table-container td a {
  text-decoration: underline;
}
.tables-main .table-container a {
  margin-top: 2rem;
}

.tables {
  padding: 5rem 0;
}
.tables .tables-form {
  width: 50vw;
  height: 70vh;
  padding: 3rem;
  background: #f5f5f5;
  border-radius: 7px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  overflow-y: scroll;
}
.tables .tables-form .close {
  position: absolute;
  top: 3rem;
  right: 3rem;
  cursor: pointer;
}
.tables .tables-form h2 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
.tables .tables-form p {
  margin: 1rem;
}
.tables .tables-form .form-group {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  margin-bottom: 2rem;
}
.tables .tables-form .form-group input {
  width: 80%;
  font-size: 1.6rem;
}
.tables a {
  margin-top: 1rem;
}

.user-form .close {
  display: none;
}

.table-add-btn {
  background: rgba(130, 217, 217, 0.7254901961);
  border: none;
  padding: 1.5rem 3rem;
  border-radius: 7px;
  position: fixed;
  right: 5rem;
  bottom: 5rem;
  box-shadow: 2px 2px 0 #999;
  cursor: pointer;
}

.table-add-btn:hover {
  box-shadow: none;
}/*# sourceMappingURL=style.css.map */