@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700;900&display=swap');
@import "Colors.scss";


/*__________________________________________________________
    base
__________________________________________________________*/

*, *::before,*::after
{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

html
{
    font-size:62.5%;
}

a{
    color:$font;
    text-decoration:none;
}

a:hover{
    color:$font;
}

ul{
    padding: 0;
    margin: 0;
}

li{
    list-style:none;
}

body
{
    font-size:1.6rem;
    font-family:'Noto Sans JP', sans-serif;
    color:$font;
    background-image:repeating-linear-gradient(-45deg,#fff 0,#fff 10px,#f1fffb 0,#f1fffb 20px) ;
}

//error
.errors{
    width: 80%;
    margin: 0 auto;
    border-radius:10px;
    color:#fff;
    background: $danger;
    text-align: center;
    padding: 3rem 4rem;
    margin-top: 2rem;
    box-shadow:2px 2px 10px #999;
}


//form
.form-group{
    .label{
        width: 25%;
    }

    .form-control{
        width: 80%;
        border:none;
        background: $point;
        padding:.5rem 1rem;
        border-radius:5px;
    }

    .textarea{
        width: 80%;
        border:none;
        background: $point;
        padding:.5rem 1rem;
        border-radius:5px;
    }
}

//挨拶
.greet{
    width: 100%;
    padding:2rem;
    background: $point;
    border-radius:15px;
    margin-top: 2rem;
    box-shadow:2px 2px 10px #ccc;
}

// 小さい文字
.small{
    font-size:1.2rem;
}

// 共通タイトルプロパティ
.title{
    width: fit-content;
    display: block;
    font-size:4rem;
    font-weight:900;
    padding:0 2rem;
    border-bottom:1rem solid $point;
    border-image:linear-gradient(-45deg,$green,$point);
    border-image-slice: 1;
}

.sub-title{
    width: fit-content;
    display: block;
    font-size:2rem;
    font-weight:900;
    padding:0 2rem;
    margin: 1rem ;
    border-bottom:.5rem solid $point;
    border-image:linear-gradient(-45deg,$green,$point);
    border-image-slice: 1;
}

// 中央ぞろえプロパティ
.center{
    display: block;
    text-align: center;
    margin: 0 auto;
}

// コンテンツ幅指定プロパティ
.contents-width{
    width: 90%;
    margin:0 auto;
}

// 共通サブミットボタン
.submit-btn{
    input{
        width: 100%;
        background: $submit;
        border-radius:5px;
        padding: .5rem;
        border:none;
        box-shadow:2px 2px 0 #999;
        margin-bottom: 1rem;
        color:#fff;
        cursor:pointer;
    }

    input:hover{
        box-shadow:none;

    }
}

// モーダル時の背景フィルター
.filter{
    background: #000;
    opacity:.4;
    width: 100%;
    height: 100%;
    position:fixed;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    z-index:2;
}

/*__________________________________________________________
    welcome(login,register)
__________________________________________________________*/

.user-form{
    width: 40vw;
    margin:0 auto;
    padding:3rem;
    background: #f5f5f5;
    border-radius:7px;

    h2{
        font-size:3rem;
        font-weight:700;
        margin-bottom: 2rem;;
    }

    p{
        margin: 1rem;
    }

    .form-group{
        display: flex;
        justify-content: space-between;
        column-gap:1rem;
        margin-bottom: 2rem;

        input{
            width: 80%;
            font-size:1.6rem;
        }
    }

}

@media screen and (max-width: 767px) {
    .user-form{
        width: 90vw;
        margin:0 auto;
        padding:3rem;
        background: #f5f5f5;
        border-radius:7px;
    
        h2{
            font-size:3rem;
            font-weight:700;
            margin-bottom: 2rem;;
        }
    
        .form-group{
            display: flex;
            justify-content: space-between;
            column-gap:1rem;
            margin-bottom: 2rem;
    
            input{
                width: 80%;
            }
        }
    
        .submit-btn{
    
            input{
                width: 100%;
                background: $submit;
                border-radius:5px;
                padding: .5rem;
                border:none;
                box-shadow:2px 2px 0 #999;
                margin-bottom: 1rem;
                color:#fff;
            }
    
            input:hover{
                box-shadow:none;
    
            }
        }
    }
}

/*__________________________________________________________
    user show
__________________________________________________________*/

.profile-container{
    .profile-header{        
        position:relative;
        width: 100%;
        height: 70vh;

        .profile-header-img{
            width: 100%;
            height: 100%;
            object-fit:cover;
            border-bottom:1px solid #999;
        }

        .profile-show-image{
            width: 30rem;
            height: 30rem;
            border-radius:50%;
            border:.2em solid rgba(194, 67, 230,.5);
            position:absolute;
            left: 4rem;
            bottom: -25%;
            z-index: 3;
            object-fit:cover;
        }
    }

    .profile-contents-width{
        width: 85%;
        margin: 0 auto 5rem;
        background: #f5f5f5;
        border-right:1px solid #ccc;
        border-left:1px solid #ccc;
        border-bottom:1px solid #ccc;

        .profile{
            padding-top: 13rem;
            max-width:1000px;
            margin: 0 auto;
            position:relative;

            .profile-contents{
                position:relative;
                padding: 3rem 3rem 5rem;
                

                .profile-name{
                    font-size:5rem;
                    font-weight:900;
                    margin-bottom: 3rem;
                    position:absolute;
                    line-height:0;
                    left: 3rem;
                    top: 0;
                }

                .profile-content{
                    padding-top: 5rem;
                    width: 70%;
                    word-break: break-word;
                }
            }

            .profile-edit{
                position:absolute;
                top: 0;
                right: 2rem;
                font-size:2rem;

            }

            .tabs-menu{
                display: flex;
                column-gap: 2px;
                margin-left: -1px;

                border-bottom: 1px solid #ccc;
    
                li{
                    padding: 2rem;
                    border:.1em solid $point;
                    background: #fff;
                    width: 20%;
                    cursor:pointer;
                }

                li:not(.profileActive):hover{
                    background: #ccc;
                }

                li.profileActive{
                    background: $point;
                    color:#fff;
                }
            }
        }
    }

    .tab-contents{
        padding:2rem;
        .board-title-card{
            width: 80%;
            margin:0 auto;
            background: $point;
            margin-bottom: 1rem; 
            box-shadow:2px 2px 10px #ccc;   
            padding:.5rem 2rem;

            .small-contents{
                display: flex;
                column-gap:2rem;
            }

            .board-title{
                font-size:2rem;
            }
        }

        .small{
            color:#777;
        }

        // 所属グループタブ
        .tab-content-group{
            width: 70%;
            margin:0 auto;
            padding-bottom:5rem;

            .group-label{
                padding: 1rem;
                width: 100%;
                border-bottom:1px solid #ccc;

                a{
                    display: block;
                    white-space:nowrap;
                    overflow:hidden;
                    text-overflow:ellipsis;

                }
            }

            .group-label:hover{
                background: #ccc;
            }

            .group-gate-yet{
                margin:2rem auto;
                padding:1rem 0;
                border-bottom:1px solid #ccc;
                display: flex;
                column-gap:10%;
                position:relative;
        
                .group-label-yet{
                    width: 50%;
                    white-space:nowrap;
                    overflow:hidden;
                    text-overflow:ellipsis;
                }

                .group-affiliation-form{
                    width: 40%;
                    display: flex;
                    column-gap: 5%;
        
                    
                    .group-input{
                        background: $point;
                        width: 70%;
                        border:none;
                        border-radius:5px;
                        display: block;
                        padding:.5rem 1rem;
                    }
        
                    .group-btn{
                        width: 25%;
                        background: $submit;
                        display: block;
                        text-align: center;
                        padding:.5rem 0;
                        border:none;
                        border-radius:5px;
                        color:#fff;
                    }
                }
            }       
        }
    }
}
/*__________________________________________________________
    header
__________________________________________________________*/

//desktop

//headerMenu sarch form
.sarch-container{
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-top: 1rem;
    background: #f5f5f5;
    border-radius:10px;
    padding: 5px;

    button{
        background: transparent;
        border:none;
        margin:0 1rem;
        color:$point;
        font-size:2rem;
    }

    input{
        background: transparent;
        border:none;
        width: 20rem;
    }
}

//header
.header{
    display: flex;
    position:relative;
    justify-content: space-between;
    padding: 2rem 3rem;
    background: linear-gradient(-45deg,rgb(106, 195, 220),$point);

    nav{
        .nav-icon{
            display: none;
        }
    }

    .logo{
        width: 17%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left:3rem;
        .header-logo{
            
            img{
                width: 100%;
                display: block;
            }
        }

    }
    .nav-list-desktop{

        ul{
            display: flex;
            justify-self: flex-start;
            align-items: center;
            column-gap:2.2rem;

            li{
                position:relative;
                
                a{
                    color:#777;
                }
                
                .header-img {
                    width: 10rem;
                    height: 10rem;
                    border-radius:50%;
                }
            }

            li:hover{
                filter:brightness(125%);
            }

            .nav-item::before{
                content:"";
                width: 0;
                height: 1.5px;
                position:absolute;
                bottom: -2px;
                opacity:.8;
                left: 0;
                background: linear-gradient(to right, rgb(194, 67, 230),rgb(19, 88, 236));
            }

            .nav-item:hover::before{
                width: 100%;
                transition:width 1.25s ease;
            }
        }

    }
}

//mobile
@media screen and (max-width: 767px) {
    //header
    .header{
        z-index: 5;
        
        nav{
            .nav-icon{
                display: block;
                font-size:2rem;
            }
        }

        .nav-list{
            position:fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background: #333;
            display: flex;
            flex-direction:column;
            justify-content: center;
            align-items: center;
            text-align: center;

            .nav-item{
                margin-bottom: 2rem;
                color:#999;

                a{
                    color:#fff;
                }
            }

            .header-img{
                width: 5rem;
                height: 5rem;
                border-radius:50%;
            }

            .sarch-container{
                margin-right :auto;
            }
        }

        .logo{
            width: 40%;

            img{
                width: 100%;
            }
        }
    
        .nav-list-desktop{
            display: none;
        }
    }
}

/*__________________________________________________________
    home
__________________________________________________________*/

//ログインされている場合

//desktop
.home{
    padding: 4rem 0;

    .contents-width{
        max-width:1200px;
        width:70vw;
        margin:0 auto;

        .title{
            margin-top:5rem;
        }
    
        .profile-top-image{
            display: block;
            width: 30vw;
            height: 30vw;
            border-radius:50%;
            border-width:2px;
            border-style:solid;
            border-color:rgba(194, 67, 230,.5);
            margin: 4rem auto 1rem;
            box-shadow:2px 2px 10px #ccc;
            object-fit:cover;
        }

        .home-contents{
            width: 90%;
            padding: 3rem;
            background: #f5f5f5;
            margin: 2rem auto;

            .home-content{
                padding: 1rem;
                border-bottom:1px solid #999;

                a{
                    font-size:2rem;
                    display: block;
                }
            }
        }
    }
}

//mobile
@media screen and (max-width: 767px) {
    .home{
        .contents-width{
            width: 90vw;

            .profile-top-image{
                display: block;
                width: 50vw;
                height: 50vw;
            }
    
            .title{
                font-size:2.5rem;
                margin: 2rem auto;    
            }
    
            .home-contents{
                width: 100%;
                padding: 3rem;
                background: #f5f5f5;
                margin: 0 auto;
                font-size:2rem;
            }
        }
        
        
    }
    
}

/*__________________________________________________________
    board-index
__________________________________________________________*/

.board{
    padding:3rem 0;
    position:relative;

    .small-discription{
        padding: 2rem;
    }

    .board-title-card{
        width: 90%;
        margin-top: 2.5rem;
        background: #f5f5f5;
        padding:3rem;
        border-radius:10px;

        .small-content{
            display: flex;
            column-gap:3rem;
        }

        .board-title{
            font-size:2rem;
        }
    }

    .add{
        font-size:5rem;
        color:$submit;
        position:fixed;
        right: 5rem;
        bottom: 5rem;
        filter:drop-shadow(2px 2px 2px #aaa );
    }
}

/*__________________________________________________________
    board-show
__________________________________________________________*/

#schedules-icon{
    font-size: 4rem;
    color:$main;
    position:fixed;
    bottom: 5rem;
    right: 5rem;
    cursor:pointer;
}

.board-show{
    max-width:800px;
    width:100%;
    margin: 2rem auto;

    //議題
    .show-title{
        font-weight:900;
    }

    //議論内容
    .show-contents{
        padding:3rem;
        background: #f5f5f5;
        margin:2rem auto;

        .board-content{
            width:70%;
            margin: 0 auto;
        }
    }

    .opinion-form{
        .textarea{
            width: 100%;
            height: 30vh;
            margin-top: 1rem;
        }

        .form-group{
            margin:2rem 0;
        }
    }

    //自分の発言
    .self-opinion{
        display: flex;
        column-gap: 3rem;
        justify-content: flex-end;

        //発言内容
        .self-opinion-content{
            background: $point;
            max-width:60%;
            min-width: 40%;
            width: fit-content;
            font-size:1.6rem;
            border-radius:7px;
            padding:3rem;
            margin-bottom: 1rem;

            a{
                .opinion-img{
                    width: 80%;
                    height: auto;
                    object-fit:cover;
                }
            }
        }

        //自分の画像と名前
        .self-opinion-profile{
            display: flex;
            flex-direction:column;
            width: fit-content;

            a{
                .self-opinion-profile-img{
                    width: 8rem;
                    height: 8rem;
                    border-radius:50%;
                    object-fit:cover;
                }
            }

            p{
                margin: 0 auto;
                font-weight:bold;
            }
        }
    }

    //自分以外の発言
    .opinion{
        display: flex;
        column-gap: 3rem;

        //発言内容
        .opinion-content{
            background: #f5f5f5;
            max-width:60%;
            min-width: 40%;
            width: fit-content;
            font-size:1.6rem;
            border-radius:7px;
            padding:3rem;
            margin-bottom: 1rem;

            a{
                .opinion-img{
                    width: 80%;
                    height: auto;
                    object-fit:cover;
                }
            }
        }

        //自分以外のユーザー画像と名前
        .opinion-profile{
            display: flex;
            flex-direction:column;
            width: fit-content;

            a{
                .opinion-profile-img{
                    width: 8rem;
                    height: 8rem;
                    border-radius:50%;
                    object-fit:cover;
                }
            }

            p{
                margin: 0 auto ;
                font-weight:bold;
            }
        }
    }
}

.board-form{
    margin-top: 3rem;
}

// mobile
@media screen and (max-width: 767px) {
    .board-show{
    
        .opinion-form{
            .textarea{
                width: 100%;
                height: 10vh;
            }

            .submit-btn{
                margin-bottom: 2rem;
            }
        }
    
        .self-opinion{
    
            .self-opinion-content{
                font-size:1rem;
                width: 100%;
            }
    
            .self-opinion-profile{
                display: flex;
                flex-direction:column;
                width: 60px;

                a{
                    .self-opinion-profile-img{
                        width: 3px;
                        height: 30px;
                        border-radius:50%;
                        object-fit:cover;
                    }
                }
            }
        }
        .opinion{

            .opinion-content{
                font-size:1rem;
                width: 100%;
            }
    
            .opinion-profile{
    
                a{
                    .opinion-profile-img{
                        width: 30px;
                        height: 30px;
                        object-fit:cover;
                    }
                }
            }
        }
    }
}

//board内で開くスケジュール画面
.schedules{
    position:fixed;
    top: 0;
    left: 0;
    width:0;
    height: 100%;
    background: #333;
    color:#fff;
    z-index:3;
    animation:schedules 2s ease forwards;
    overflow:hidden;
    white-space:nowrap;

    .schedules-wrap{
        display: flex;
        column-gap: 1rem;
        width: fit-content;
        max-width:80%;
        margin:2rem auto;

        .schedule{
            width: 80%;

            p{
                word-break:break-word;
            }
        }

        .schedules-edit-icons{

            form{
                
                .delete{
                    background: $danger;
                    width: 10rem;
                    height: 3rem;
                    border:none;
                    border-radius:5px;
                    cursor:pointer;
                    color:#fff;
                }
                .edit{
                    background: yellowgreen;
                    width: 10rem;
                    height: 3rem;
                    border:none;
                    border-radius:5px;
                    margin-top: 0.5rem;
                    cursor:pointer;
                    color:#fff;
                }
            }
        }
    }

    //スケジュールを追加ボタン
    .schedules-add{
        a{
            width: fit-content;
            padding:.5rem 2rem;
            background: $submit;
            border-radius:5px;
            color:#fff;
            display: block;
            margin:1rem auto;
        }
    }
    
}

//schedules sidebar animation
@keyframes schedules{
    from{
        width: 0;
    }
    to{
        width: 40vw;
    }
}

@media screen and (max-width: 767px) {
    @keyframes schedules{
        from{
            width: 0;
        }
        to{
            width: 70vw;
        }
    }
}

/*__________________________________________________________
    office index(group)
__________________________________________________________*/
.group-index{
    padding:3rem 0;

    .group-sarch-wrap{
        display: block;
        width: fit-content;
        margin: 0 auto;
        margin-top: 1rem;
        background:$point ;
        border-radius:10px;
        padding: 5px;

        button{
            background: transparent;
            border:none;
            margin:0 1rem;
            color:#fff;
            font-size:2rem;
        }

        input{
            background: transparent;
            border:none;
            width: 20rem;
            height: 3rem;
        }
    }

    .group-gate{
        max-width:600px;
        width:50vw;
        margin:2rem auto;
        padding:1rem 0;
        border-bottom:2px solid $point;
        display: flex;
        position:relative;

        .joined-group{
            width: 70%;
            white-space:nowrap;
            overflow:hidden;
            text-overflow: ellipsis;
        }
        
    }

    .group-gate:before{
        content:'所属済み';
        color:#999;
        padding:.3rem;
        background: #f5f5f5;
        border-radius:5px;
        width: fit-content;
        height: 2rem;
        font-size:1rem;
        position:absolute;
        top: 50%;
        right: 0;
        transform:translate(0,-50%);
    }

    .group-gate-yet{
        max-width:600px;
        width:50vw;
        margin:2rem auto;
        padding:1rem 0;
        border-bottom:2px solid $point;
        display: flex;
        column-gap:10%;
        position:relative;

        .group-label{
            width: 50%;
            white-space:nowrap;
            overflow:hidden;
            text-overflow:ellipsis;
        }

        .group-affiliation-form{
            width: 40%;
            display: flex;
            column-gap: 5%;

            
            .group-input{
                background: $point;
                width: 70%;
                border:none;
                border-radius:5px;
                display: block;
                padding:.5rem 1rem;
            }

            .group-btn{
                width: 25%;
                background: $submit;
                display: block;
                text-align: center;
                padding:.5rem 0;
                border:none;
                border-radius:5px;
                color:#fff;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .group-index{

        .group-gate{
            max-width:600px;
            width:80vw;
            margin:2rem auto;
            padding:1rem 0;
            border-bottom:2px solid $point;
            display: flex;
            position:relative;
    
            .joined-group{
                width: 70%;
                white-space:nowrap;
                overflow:hidden;
                text-overflow: ellipsis;
            }
            
        }
    
        .group-gate:before{
            content:'所属済み';
            color:#999;
            padding:.3rem;
            background: #f5f5f5;
            border-radius:5px;
            width: fit-content;
            height: 2rem;
            font-size:1rem;
            position:absolute;
            top: 50%;
            right: 0;
            transform:translate(0,-50%);
        }
    
        .group-gate-yet{
            width:80vw;
    
            .group-label{
                width: 30%;
            }
    
            .group-affiliation-form{
                width: 65%;
                
                .group-input{
                    width: 70%;
                }
    
                .group-btn{
                    width: 25%;
                }
            }
        }
    }
}

/*__________________________________________________________
    office show(group show)
__________________________________________________________*/

.group-show{
    padding:3rem 0 5rem;

    .group-name-wrap{
        display: flex;
        width: 90%;
        padding: 0;

        h2{
            padding: 0;
        }

        .downmenu-icon{
            display: none;
        }
    }

    #group{
        .group-menu-tabs{
            display: flex;
            column-gap:2px;
            margin-top: 3rem;

            h3{
                padding:1rem;
                background: $point;
                color: #fff;
                width: 16%;
                cursor:pointer;
                text-align: center;

                .table-link{
                    color:#fff;
                }
            }
        }

        ul{
            display: flex;
            column-gap: 2px;

            li{
                background: #999;
                padding: 1rem;
                width: 16%;
                cursor:pointer;
                text-align: center;

                .delete{
                    background: none;
                    color:red;
                    font-weight:bold;
                    border:none;
                    cursor:pointer;
                }
            }
        }

        #group-contents{
            .center{
                margin: 2rem auto;
            }
            .new-discussion{
                padding: 1rem;
                background: #f5f5f5;
                border-radius:7px;  
                width: 60%;
                margin: 0 auto;
                
                h4{
                    a{
                        border-bottom:1px solid #999;
                        display: block;
                        margin: 2rem 0;
                    }
                }
            }
        }

        .group-menu{
            .group-menu-list{
                width: 60%;
                height: 80%;
                overflow-y: scroll;
                margin: 0 auto;
                background: #f5f5f5;
                padding:2rem;
                display: flex;
                flex-direction: column;

                //group-member
                .member{
                    display: flex;
                    column-gap:3rem;
                    padding-bottom: 1rem;
                    border-bottom:1px solid #999;
                    margin-bottom: 1rem;
                    a{
                        display: block;
                        text-decoration:underline;
                    }
                }
            }
        }

        //group-content
        .group-content{
            margin-bottom: 1rem;
            padding-bottom: 1rem;
            border-bottom:1px solid #999;
            display: block;
        }

        .edit-wrap{
            display: flex;
            justify-content: space-between;

            .form-group{
                width: 80%;
                .label{
                    width: 40%;
                }
                .form-group{
                    width: 60%;
                }
            }   

            .submit-btn{
                width: 10%;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .group-show{
        padding:3rem 0 5rem;
    
        .group-name-wrap{
            display: flex;
            width: 90%;
            padding: 0;
    
            h2{
                padding: 0;
                font-size:2.6rem;
            }
    
            .downmenu-icon{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 2rem;
                font-size:2rem;
            }
        }
    
        #group{
            height: 100%;

            #sidemenu-desktop{
                display: none;
            }
            .group-menu-tabs{
                flex-direction: column;
                row-gap:2px;

                h3{
                    width: 100%;
                }
            }
            
    
            ul{
                flex-direction: column;
                row-gap: 2px;
    
                li{
                    width: 100%;

                }
            }
    
            #group-contents{

                .new-discussion{
                    width: 100%;
                }
            }
    
            .group-menu{
                .group-menu-list{
                    width: 100%;
                    height: 80%;
    
                    //group-member
                    .member{
                        a{
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }
}

/*__________________________________________________________
    table index
__________________________________________________________*/

.tables-main{
    max-width:1200px;
    width:80%;
    margin: 0 auto;
    padding: 5rem 0;

    .table-container{
        width: 100%;
        overflow-x:auto;
    
        table{
            overflow-x:scroll;
        }

        table, tr, th, td{
            border-collapse:collapse;
            border:2px solid #999;
            margin: 0 auto;
            white-space:nowrap;
        }

        th{
            font-weight: bold;
            font-size:2rem;
        }

        th,td{
            max-width:40%;
            padding: 1rem 4rem;

            a{
                text-decoration:underline;
            }
        }

        a{
            margin-top: 2rem;
        }
    }
}

.tables{

    .tables-form{
        width: 50vw;
        height: 70vh;
        padding:3rem;
        background: #f5f5f5;
        border-radius:7px;
        position:absolute;
        top: 50%;
        left: 50%;
        transform:translate(-50%,-50%);
        z-index:4;
        overflow-y:scroll;
    
        h2{
            font-size:3rem;
            font-weight:700;
            margin-bottom: 2rem;;
        }
    
        p{
            margin: 1rem;
        }
    
        .form-group{
            display: flex;
            justify-content: space-between;
            column-gap:1rem;
            margin-bottom: 2rem;
    
            input{
                width: 80%;
                font-size:1.6rem;
            }
        }
    }
}   

.table-add-btn{
    background: $point;
    border:none;
    padding:1.5rem 3rem;
    border-radius:7px;
    position:fixed;
    right:5rem;
    bottom:5rem;
    box-shadow:2px 2px 0 #999;
    cursor:pointer;
}

.table-add-btn:hover{
    box-shadow:none;
}
