@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700;900&display=swap");
/*__________________________________________________________
    base
__________________________________________________________*/
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

a {
  color: #454545;
  text-decoration: none;
}

a:hover {
  color: #454545;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

body {
  font-size: 1.6rem;
  font-family: "Noto Sans JP", sans-serif;
  color: #454545;
  background-image: repeating-linear-gradient(-45deg, #fff 0, #fff 10px, #f1fffb 0, #f1fffb 20px);
}

.small {
  font-size: 1.2rem;
}

.title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: block;
  font-size: 4rem;
  font-weight: 900;
  padding: 0 2rem;
  border-bottom: 1rem solid rgba(130, 217, 217, 0.7254901961);
  -o-border-image: linear-gradient(-45deg, rgb(164, 255, 142), rgba(130, 217, 217, 0.7254901961));
     border-image: linear-gradient(-45deg, rgb(164, 255, 142), rgba(130, 217, 217, 0.7254901961));
  border-image-slice: 1;
}

.center {
  display: block;
  text-align: center;
  margin: 0 auto;
}

.contents-width {
  width: 90%;
  margin: 0 auto;
}

.submit-btn input {
  width: 100%;
  background: #0367A6;
  border-radius: 5px;
  padding: 0.5rem;
  border: none;
  box-shadow: 2px 2px 0 #999;
  margin-bottom: 1rem;
  color: #fff;
}
.submit-btn input:hover {
  box-shadow: none;
}

.filter {
  background: #000;
  opacity: 0.4;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

/*__________________________________________________________
    welcome(login,register)
__________________________________________________________*/
.user-form {
  width: 40vw;
  margin: 0 auto;
  padding: 3rem;
  background: #f5f5f5;
  border-radius: 7px;
}
.user-form h2 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
.user-form p {
  margin: 1rem;
}
.user-form .form-group {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  margin-bottom: 2rem;
}
.user-form .form-group input {
  width: 80%;
  font-size: 1.6rem;
}

@media screen and (max-width: 767px) {
  .user-form {
    width: 90vw;
    margin: 0 auto;
    padding: 3rem;
    background: #f5f5f5;
    border-radius: 7px;
  }
  .user-form h2 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 2rem;
  }
  .user-form .form-group {
    display: flex;
    justify-content: space-between;
    -moz-column-gap: 1rem;
         column-gap: 1rem;
    margin-bottom: 2rem;
  }
  .user-form .form-group input {
    width: 80%;
  }
  .user-form .submit-btn input {
    width: 100%;
    background: #0367A6;
    border-radius: 5px;
    padding: 0.5rem;
    border: none;
    box-shadow: 2px 2px 0 #999;
    margin-bottom: 1rem;
    color: #fff;
  }
  .user-form .submit-btn input:hover {
    box-shadow: none;
  }
}
/*__________________________________________________________
    header
__________________________________________________________*/
.sarch-container {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-top: 1rem;
  background: #f5f5f5;
  border-radius: 10px;
  padding: 5px;
}
.sarch-container button {
  background: transparent;
  border: none;
  margin: 0 1rem;
  color: rgba(130, 217, 217, 0.7254901961);
  font-size: 2rem;
}
.sarch-container input {
  background: transparent;
  border: none;
  width: 20rem;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 3rem;
  background: linear-gradient(-45deg, rgb(106, 195, 220), rgba(130, 217, 217, 0.7254901961));
}
.header nav .nav-icon {
  display: none;
}
.header .nav-list-desktop ul {
  display: flex;
  justify-self: flex-start;
  align-items: center;
  -moz-column-gap: 2.2rem;
       column-gap: 2.2rem;
}
.header .nav-list-desktop ul li {
  position: relative;
}
.header .nav-list-desktop ul li a {
  color: #777;
}
.header .nav-list-desktop ul li .header-img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}
.header .nav-list-desktop ul li:hover {
  filter: brightness(125%);
}
.header .nav-list-desktop ul .nav-item::before {
  content: "";
  width: 0;
  height: 1.5px;
  position: absolute;
  bottom: -2px;
  opacity: 0.8;
  left: 0;
  background: linear-gradient(to right, rgb(194, 67, 230), rgb(19, 88, 236));
}
.header .nav-list-desktop ul .nav-item:hover::before {
  width: 100%;
  transition: width 1.25s ease;
}

@media screen and (max-width: 767px) {
  .header nav .nav-icon {
    display: block;
    font-size: 2rem;
  }
  .header .nav-list {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .header .nav-list .nav-item {
    margin-bottom: 2rem;
    color: #999;
  }
  .header .nav-list .nav-item a {
    color: #fff;
  }
  .header .nav-list .header-img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
  }
  .header .nav-list .sarch-container {
    margin-right: auto;
  }
  .header .nav-list-desktop {
    display: none;
  }
}
/*__________________________________________________________
    home
__________________________________________________________*/
.home {
  padding: 4rem 0;
}
.home .contents-width {
  max-width: 1200px;
  width: 70vw;
  margin: 0 auto;
}
.home .contents-width .title {
  margin-top: 5rem;
}
.home .contents-width .greet {
  width: 100%;
  padding: 2rem;
  background: rgba(130, 217, 217, 0.7254901961);
  border-radius: 15px;
  margin-top: 2rem;
  box-shadow: 2px 2px 10px #ccc;
}
.home .contents-width .profile-top-image {
  display: block;
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  border-width: 2px;
  border-style: solid;
  border-color: rgba(194, 67, 230, 0.5);
  margin: 4rem auto 1rem;
  box-shadow: 2px 2px 10px #ccc;
}
.home .contents-width .home-contents {
  width: 90%;
  padding: 3rem;
  background: #f5f5f5;
  margin: 2rem auto;
}

@media screen and (max-width: 767px) {
  .home .profile-top-image {
    display: block;
    width: 50vw;
    height: 50vw;
  }
  .home .title {
    font-size: 2.5rem;
    margin: 2rem auto;
  }
  .home .home-contents {
    width: 90%;
    padding: 3rem;
    background: #f5f5f5;
    margin: 0 auto;
    font-size: 2rem;
  }
}
/*__________________________________________________________
    board-index
__________________________________________________________*/
.board {
  padding: 3rem 0;
  position: relative;
}
.board .board-title-card {
  width: 90%;
  margin-top: 2.5rem;
  background: #f5f5f5;
  padding: 3rem;
  border-radius: 10px;
}
.board .board-title-card .small-content {
  display: flex;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
}
.board .board-title-card .board-title {
  font-size: 2rem;
}
.board .add {
  font-size: 5rem;
  color: #0367A6;
  position: fixed;
  right: 5rem;
  bottom: 5rem;
  filter: drop-shadow(2px 2px 2px #aaa);
}

/*__________________________________________________________
    board-show
__________________________________________________________*/
#schedules-icon {
  font-size: 4rem;
  color: #6FBFBF;
  position: fixed;
  bottom: 5rem;
  right: 5rem;
  cursor: pointer;
}

.board-show {
  max-width: 800px;
  width: 100%;
  margin: 2rem auto;
}
.board-show .show-title {
  font-weight: 900;
}
.board-show .show-contents {
  padding: 3rem;
  background: #f5f5f5;
  margin: 2rem auto;
}
.board-show .show-contents .board-content {
  width: 70%;
  margin: 0 auto;
}
.board-show .opinion-form .textarea {
  width: 100%;
  height: 30vh;
  margin-top: 1rem;
}
.board-show .opinion-form .form-group {
  margin: 2rem 0;
}
.board-show .self-opinion {
  display: flex;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
  justify-content: flex-end;
}
.board-show .self-opinion .self-opinion-content {
  background: rgba(130, 217, 217, 0.7254901961);
  max-width: 60%;
  min-width: 40%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 2rem;
  border-radius: 7px;
  padding: 3rem;
  margin-bottom: 1rem;
}
.board-show .self-opinion .self-opinion-content a .opinion-img {
  width: 80%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.board-show .self-opinion .self-opinion-profile {
  display: flex;
  flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.board-show .self-opinion .self-opinion-profile a .self-opinion-profile-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.board-show .self-opinion .self-opinion-profile p {
  font-weight: bold;
}
.board-show .opinion {
  display: flex;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
}
.board-show .opinion .opinion-content {
  background: #f5f5f5;
  max-width: 60%;
  min-width: 40%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 2rem;
  border-radius: 7px;
  padding: 3rem;
  margin-bottom: 1rem;
}
.board-show .opinion .opinion-content a .opinion-img {
  width: 80%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.board-show .opinion .opinion-profile {
  display: flex;
  flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.board-show .opinion .opinion-profile a .opinion-profile-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.board-show .opinion .opinion-profile p {
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .board-show .opinion-form .textarea {
    width: 100%;
    height: 10vh;
  }
  .board-show .self-opinion .self-opinion-content {
    font-size: 1.6rem;
  }
  .board-show .self-opinion .self-opinion-profile {
    display: flex;
    flex-direction: column;
    width: 60px;
  }
  .board-show .self-opinion .self-opinion-profile a .self-opinion-profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  .board-show .opinion .opinion-content {
    font-size: 1.6rem;
  }
  .board-show .opinion .opinion-profile a .opinion-profile-img {
    width: 50px;
    height: 50px;
  }
}
.schedules {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #333;
  color: #fff;
  z-index: 3;
  -webkit-animation: schedules 2s ease forwards;
          animation: schedules 2s ease forwards;
  overflow: hidden;
  white-space: nowrap;
}
.schedules .schedules-wrap {
  display: flex;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 80%;
  margin: 2rem auto;
}
.schedules .schedules-wrap .schedule {
  width: 80%;
}
.schedules .schedules-wrap .schedule p {
  word-break: break-word;
}
.schedules .schedules-wrap .schedules-edit-icons form .delete {
  background: #C22F2B;
  width: 10rem;
  height: 3rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
}
.schedules .schedules-wrap .schedules-edit-icons form .edit {
  background: yellowgreen;
  width: 10rem;
  height: 3rem;
  border: none;
  border-radius: 5px;
  margin-top: 0.5rem;
  cursor: pointer;
  color: #fff;
}
.schedules .schedules-add a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem 2rem;
  background: #0367A6;
  border-radius: 5px;
  color: #fff;
  display: block;
  margin: 1rem auto;
}

@-webkit-keyframes schedules {
  from {
    width: 0;
  }
  to {
    width: 40vw;
  }
}

@keyframes schedules {
  from {
    width: 0;
  }
  to {
    width: 40vw;
  }
}
/*__________________________________________________________

__________________________________________________________*//*# sourceMappingURL=style.css.map */